In [1]:
# Assessment 2: Retail Sales Analysis

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # basic charts
import seaborn as sns # advance charts like statatical

In [2]:
df1 = pd.read_csv("/content/Retail Data.csv")
df1

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,4293-1,02-09-2014,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,$156.50,$300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55"
1,5001-1,24-10-2015,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,$0.24,$1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91
2,5004-1,13-03-2014,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58
3,5009-1,18-02-2013,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,$5.33,$8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92
4,5010-1,13-09-2014,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,$1.53,$2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,02-11-2016,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,$2.98,$5.84,$2.86,35.0,$115.40,2%,$10.81,$104.09,$0.83,$101.22
4996,6847-1,16-12-2015,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,$19.83,$30.98,$11.15,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,"$1,052.55"
4997,6922-1,28-09-2016,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,$20.18,$35.41,$15.23,19.0,$929.40,9%,$27.88,$901.52,$1.99,$921.03
4998,6939-1,18-06-2016,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,$1.59,$2.61,$1.02,23.0,$66.54,5%,$4.46,$63.77,$0.50,$64.27
4999,6980-1,12-08-2015,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,$3.50,$5.74,$2.24,31.0,$213.34,0%,$4.67,$216.51,$5.01,$221.52

In [3]:
# 1. View the structure of the dataset (columns, types, missing values).

shape_of_dataset = df1.shape
shape_of_dataset

(5000, 24)

In [4]:
df1.isnull().sum().sum()

np.int64(2)

In [5]:
columns = df1.columns
columns

Index(['Order No', 'Order Date', 'Customer Name', 'Address', 'City', 'State',
       'Customer Type', 'Account Manager', 'Order Priority', 'Product Name',
       'Product Category', 'Product Container', 'Ship Mode', 'Ship Date',
       'Cost Price', 'Retail Price', 'Profit Margin', 'Order Quantity',
       'Sub Total', 'Discount %', 'Discount $', 'Order Total', 'Shipping Cost',
       'Total'],
      dtype='object')

In [6]:
# 2. What is the shape (rows, columns) of the dataset?

print("Dataset Shape (rows, columns):", df1.shape)

Dataset Shape (rows, columns): (5000, 24)

In [7]:
# 3. Are there any duplicate records?

duplicates = df1.duplicated().sum()
print("Number of duplicate records:", duplicates)

Number of duplicate records: 0

In [8]:
# 4. Are there any missing or corrupted entries in Ship Date, Order Date, or numericcolumns?

print("Missing Values:\n")
print(df1[['Ship Date', 'Order Date']].isnull().sum())

numeric_cols = df1.select_dtypes(include='number').columns
print("\nMissing Values in Numeric Columns:\n")
print(df1[numeric_cols].isnull().sum())

df1['Ship Date'] = pd.to_datetime(df1['Ship Date'], errors='coerce')
df1['Order Date'] = pd.to_datetime(df1['Order Date'], errors='coerce')

print("\nCorrupted Ship Date entries:",
      df1['Ship Date'].isnull().sum())

print("Corrupted Order Date entries:",
      df1['Order Date'].isnull().sum())


for col in numeric_cols:
    converted = pd.to_numeric(df1[col], errors='coerce')
    if converted.isnull().sum() > df1[col].isnull().sum():
        print(f"Corrupted numeric values found in {col}")

Missing Values:

Ship Date     0
Order Date    0
dtype: int64

Missing Values in Numeric Columns:

Order Quantity    1
dtype: int64

Corrupted Ship Date entries: 3168
Corrupted Order Date entries: 3097

In [10]:
# 5. Convert Order Date and Ship Date to datetime.

df1['Order Date'] = pd.to_datetime(df1['Order Date'], errors='coerce')
df1['Ship Date'] = pd.to_datetime(df1['Ship Date'], errors='coerce')

print(df1[['Order Date', 'Ship Date']].dtypes)

Order Date    datetime64[ns]
Ship Date     datetime64[ns]
dtype: object

In [11]:
# 6. Check for future or inconsistent shipping dates.

invalid_shipping = df1[df1['Ship Date'] < df1['Order Date']]

print("Records where Ship Date is earlier than Order Date:",
      len(invalid_shipping))


future_ship = df1[df1['Ship Date'] > pd.Timestamp.today()]

print("Records with Future Ship Date:",
      len(future_ship))

future_order = df1[df1['Order Date'] > pd.Timestamp.today()]

print("Records with Future Order Date:",
      len(future_order))

Records where Ship Date is earlier than Order Date: 24
Records with Future Ship Date: 0
Records with Future Order Date: 0

In [13]:
# 7.  Convert price columns to numeric (remove $ and commas).

df1['Cost Price'] = pd.to_numeric(df1['Cost Price'], errors='coerce')
df1['Retail Price'] = pd.to_numeric(df1['Retail Price'], errors='coerce')
df1['Profit Margin'] = pd.to_numeric(df1['Profit Margin'], errors='coerce')

print(df1[['Cost Price','Retail Price','Profit Margin']].dtypes)

Cost Price       float64
Retail Price     float64
Profit Margin    float64
dtype: object

In [16]:
# 8. What are the unique values in Customer Type and Order Priority?

print("Unique Customer Types:")
print(df1['Customer Type'].unique())

print("Customer Type Counts:\n")
print(df1['Customer Type'].value_counts())

print("\nUnique Order Priorities:")
print(df1['Order Priority'].unique())

print("\nOrder Priority Counts:\n")
print(df1['Order Priority'].value_counts())

Unique Customer Types:
['Small Business' 'Corporate' 'Consumer' 'Home Office']
Customer Type Counts:

Customer Type
Corporate         1823
Home Office       1232
Small Business    1088
Consumer           857
Name: count, dtype: int64

Unique Order Priorities:
['Critical' 'Medium' 'Not Specified' 'Low' 'High']

Order Priority Counts:

Order Priority
High             1124
Not Specified    1092
Medium           1038
Critical          885
Low               861
Name: count, dtype: int64

In [18]:
# 9. What are the most common shipping modes?

most_common = df1['Ship Mode'].value_counts().idxmax()
count = df1['Ship Mode'].value_counts().max()

print("Most Common Shipping Mode:", most_common)
print("Count:", count)

Most Common Shipping Mode: Regular Air
Count: 4236

In [25]:
# 10. Which cities have the highest number of orders?

highest_number = df1['City'].value_counts().sort_index(ascending=False)
count = df1['City'].value_counts().max()

print("\nCity with Highest Orders:")
print(df1['City'].value_counts().head(5))

City with Highest Orders:
City
Sydney       3584
Melbourne    1416
Name: count, dtype: int64

In [26]:
# 11. What’s the range of order quantities and prices?

qty_range = df1['Order Quantity'].max() - df1['Order Quantity'].min()
price_range1 = df1['Cost Price'].max() - df1['Cost Price'].min()
price_range2 = df1['Retail Price'].max() - df1['Retail Price'].min()

print("Range of Order Quantity:", qty_range)
print("Range of Cost Price:", price_range1)
print("Range of Retail Price:", price_range2)

Range of Order Quantity: 49.0
Range of Cost Price: nan
Range of Retail Price: nan

In [37]:
# 12. Create a new column for shipping duration.

df1['shipping Duration'] = df1['Ship Date']-df1['Order Date']
df1

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,shipping Duration
0,4293-1,2014-02-09,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,NaN,NaN,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55",59 days
1,5001-1,NaT,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,NaN,NaN,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91,NaT
2,5004-1,NaT,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,NaN,NaN,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58,NaT
3,5009-1,NaT,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,NaN,NaN,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92,NaT
4,5010-1,NaT,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,NaN,NaN,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-02-11,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,NaN,NaN,35.0,$115.40,2%,$10.81,$104.09,$0.83,$101.22,121 days
4996,6847-1,NaT,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,NaN,NaN,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,"$1,052.55",NaT
4997,6922-1,NaT,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,NaN,NaN,19.0,$929.40,9%,$27.88,$901.52,$1.99,$921.03,NaT
4998,6939-1,NaT,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,NaN,NaN,23.0,$66.54,5%,$4.46,$63.77,$0.50,$64.27,NaT
4999,6980-1,2015-12-08,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,NaN,NaN,31.0,$213.34,0%,$4.67,$216.51,$5.01,$221.52,NaT

In [40]:
# 13. Are there any orders with zero or negative total or quantity?

invalid_quantity = df1[df1['Order Quantity'] <= 0]

invalid_total = df1[df1['Cost Price'] <= 0]

print("Orders with zero or negative Quantity:", len(invalid_quantity))
print("Orders with zero or negative Total:", len(invalid_total))

Orders with zero or negative Quantity: 0
Orders with zero or negative Total: 0

In [52]:
# 14. Are all discount percentages matching discount dollar amounts?

df1['Discount %'] = pd.to_numeric(df1['Discount %'], errors='coerce')

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

df1['Expected Discount'] = df1['Total'] * (df1['Discount %'] / 100)

df1['Match'] = np.isclose(
    df1['Expected Discount'],
    df1['Discount %'],
    atol=0.01
)

mismatched = df1[~df1['Match']]

print("Mismatched Records:", len(mismatched))
mismatched

Mismatched Records: 5000

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,shipping Duration,Expected Discount,Match
0,4293-1,2014-02-09,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,23.0,"$4,533.52",2,$194.83,"$4,757.22",$7.18,NaN,59 days,NaN,False
1,5001-1,NaT,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,8.0,$45.20,3,$0.00,$45.90,$0.70,NaN,NaT,NaN,False
2,5004-1,NaT,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,45.0,$873.32,4,$72.23,$837.57,$7.18,NaN,NaT,NaN,False
3,5009-1,NaT,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,16.0,$73.52,1,$4.35,$740.67,$6.19,NaN,NaT,NaN,False
4,5010-1,NaT,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,49.0,$138.46,7,$5.95,$123.77,$1.34,NaN,NaT,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-02-11,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,35.0,$115.40,2,$10.81,$104.09,$0.83,NaN,121 days,NaN,False
4996,6847-1,NaT,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,49.0,"$1,999.69",7,$143.91,"$1,947.75",$19.51,NaN,NaT,NaN,False
4997,6922-1,NaT,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,19.0,$929.40,9,$27.88,$901.52,$1.99,NaN,NaT,NaN,False
4998,6939-1,NaT,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,23.0,$66.54,5,$4.46,$63.77,$0.50,NaN,NaT,NaN,False
4999,6980-1,2015-12-08,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,31.0,$213.34,0,$4.67,$216.51,$5.01,NaN,NaT,NaN,False

In [57]:
# 15.  Check for mismatches in total calculation’

df1['Retail Price'] = pd.to_numeric(df1['Retail Price'], errors='coerce')
df1['Order Quantity'] = pd.to_numeric(df1['Order Quantity'], errors='coerce')
df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')


df1['Expected Total'] = df1['Retail Price'] * df1['Order Quantity']

df1['Match'] = np.isclose(df1['Expected Total'],
                         df1['Total'],
                         atol=0.01)

mismatched = df1[~df1['Match']]

print("Total Records:", len(df1))
print("Mismatched Total Records:", len(mismatched))

print("\nSample Mismatches:")
mismatched[['Retail Price',
                  'Order Quantity',
                  'Total',
                  'Expected Total']].head()

Total Records: 5000
Mismatched Total Records: 5000

Sample Mismatches:

   Retail Price  Order Quantity  Total  Expected Total
0           NaN            23.0    NaN             NaN
1           NaN             8.0    NaN             NaN
2           NaN            45.0    NaN             NaN
3           NaN            16.0    NaN             NaN
4           NaN            49.0    NaN             NaN

In [60]:
# 16.  Identify top 5 products by order quantity.

df1.columns = df1.columns.str.strip()

top_products = (
    df1.groupby('Product Name')['Order Quantity']
      .sum()
      .sort_values(ascending=False)
      .head(5)
)

print("Top 5 Products by Order Quantity:\n")
top_products

Top 5 Products by Order Quantity:

Product Name
Artisan 474 Labels                         3395.0
Smiths General Use 3-Ring Binders          3220.0
Artisan 479 Labels                         3039.0
Artisan 481 Labels                         2996.0
Apex Preferred Stainless Steel Scissors    2896.0
Name: Order Quantity, dtype: float64

In [62]:
# 17. Which Account Manager handled the most revenue?

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

revenue_by_manager = (
    df1.groupby('Account Manager')['Total']
       .sum()
       .sort_values(ascending=False)
)

top_manager = revenue_by_manager.idxmax()
top_revenue = revenue_by_manager.max()

print("Account Manager with Highest Revenue:", top_manager)
print("Total Revenue:", top_revenue)

Account Manager with Highest Revenue: Aanya Zhang
Total Revenue: 0.0

In [64]:
# 18.  What is the average shipping cost by mode?

df1['Shipping Cost'] = pd.to_numeric(df1['Shipping Cost'], errors='coerce')

avg_shipping = (
    df1.groupby('Ship Mode')['Shipping Cost']
       .mean()
       .sort_values(ascending=False)
)

print("Average Shipping Cost by Mode:\n")
print(avg_shipping)

Average Shipping Cost by Mode:

Ship Mode
Delivery Truck   NaN
Express Air      NaN
Regular Air      NaN
Name: Shipping Cost, dtype: float64

In [67]:
df1.groupby('Ship Mode')['Shipping Cost'].mean()

Ship Mode
Delivery Truck   NaN
Express Air      NaN
Regular Air      NaN
Name: Shipping Cost, dtype: float64

In [72]:
# 19. Find the most profitable product.

df1.groupby('Product Name')['Profit Margin'].sum().sort_values(ascending=False).head(1)

Product Name
Xit Blank Computer Paper    0.0
Name: Profit Margin, dtype: float64

In [73]:
# Insightful Analysis Questions

# 1. What is the total revenue generated across all orders?

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

total_revenue = df1['Total'].sum()

print("Total Revenue Generated:", total_revenue)

Total Revenue Generated: 0.0

In [77]:
# 2. Which customer type generates more revenue?

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

df_clean = df1.dropna(subset=['Total'])

revenue_by_customer = (
    df_clean.groupby('Customer Type')['Total']
            .sum()
            .sort_values(ascending=False)
)

if not revenue_by_customer.empty:
    print(revenue_by_customer)
    print("\nTop Customer Type:", revenue_by_customer.idxmax())
else:
    print("No valid revenue data found.")

No valid revenue data found.

In [81]:
# 3. How does order priority affect revenue?

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

priority_revenue = (
    df1.groupby('Order Priority')['Total']
       .sum()
       .sort_values(ascending=False)
)

print("Revenue by Order Priority:\n")
priority_revenue

Revenue by Order Priority:

Order Priority
Critical         0.0
High             0.0
Low              0.0
Medium           0.0
Not Specified    0.0
Name: Total, dtype: float64

In [85]:
# 4. What is the average profit margin by product category?

df1['Profit Margin'] = pd.to_numeric(df1['Profit Margin'], errors='coerce')
df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

df1 = df1[df1['Total'] != 0]

df1['Profit Margin %'] = (df1['Profit Margin'] / df1['Total']) * 100

avg_margin = (
    df1.groupby('Product Category')['Profit Margin %']
       .mean()
       .sort_values(ascending=False)
)

print("Average Profit Margin by Category:\n")
avg_margin

Average Profit Margin by Category:

Product Category
Furniture         NaN
Office Supplies   NaN
Technology        NaN
Name: Profit Margin %, dtype: float64

In [86]:
# 5. What is the most profitable product overall?

df1['Profit Margin'] = pd.to_numeric(df1['Profit Margin'], errors='coerce')

profit_by_product = (
    df1.groupby('Product Name')['Profit Margin']
       .sum()
       .sort_values(ascending=False)
)

most_profitable_product = profit_by_product.idxmax()
max_profit = profit_by_product.max()

print("Most Profitable Product:", most_profitable_product)
print("Total Profit:", max_profit)

Most Profitable Product: Xit Blank Computer Paper
Total Profit: 0.0

In [87]:
# 6. How many days does it usually take to ship an order?

df1['Order Date'] = pd.to_datetime(df1['Order Date'], errors='coerce')
df1['Ship Date'] = pd.to_datetime(df1['Ship Date'], errors='coerce')

df1['Shipping Days'] = (df1['Ship Date'] - df1['Order Date']).dt.days

avg_shipping_days = df1['Shipping Days'].mean()

print("Average Shipping Days:", avg_shipping_days)

Average Shipping Days: 50.469746258945996

In [88]:
# 7. Do longer shipping times impact profit margins?

df1['Profit Margin'] = pd.to_numeric(df1['Profit Margin'], errors='coerce')
df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

df1 = df1[df1['Total'] != 0]
df1['Profit Margin %'] = (df1['Profit Margin'] / df1['Total']) * 100

correlation = df1['Shipping Days'].corr(df1['Profit Margin %'])

print("Correlation between Shipping Days & Profit Margin:", correlation)

Correlation between Shipping Days & Profit Margin: nan

In [89]:
# 8. Which city brings in the highest revenue?

df1['Total'] = pd.to_numeric(df1['Total'], errors='coerce')

city_revenue = (
    df1.groupby('City')['Total']
       .sum()
       .sort_values(ascending=False)
)

print("Top Revenue City:", city_revenue.idxmax())

Top Revenue City: Melbourne

In [90]:
# 9. Which account manager generated the most revenue?

manager_revenue = (
    df1.groupby('Account Manager')['Total']
       .sum()
       .sort_values(ascending=False)
)

print("Top Manager:", manager_revenue.idxmax())

Top Manager: Aanya Zhang

In [91]:
# 10.  Which shipping mode is most cost-effective (lowest avg. shipping)?

df1['Shipping Cost'] = pd.to_numeric(df1['Shipping Cost'], errors='coerce')

shipping_cost = (
    df1.groupby('Ship Mode')['Shipping Cost']
       .mean()
       .sort_values()
)

print("Most Cost-Effective Shipping Mode:", shipping_cost.idxmin())

Most Cost-Effective Shipping Mode: nan

/tmp/ipython-input-1396/2572261745.py:11: FutureWarning: The behavior of Series.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  print("Most Cost-Effective Shipping Mode:", shipping_cost.idxmin())

In [93]:
# 11.  Do higher discounts reduce profits?

df1['Discount %'] = pd.to_numeric(df1['Discount %'], errors='coerce')

discount_profit_corr = df1['Discount %'].corr(df1['Profit Margin'])

print("Correlation between Discount & Profit:", discount_profit_corr)

Correlation between Discount & Profit: nan

In [94]:
# 12. Which state has the highest number of orders?

state_orders = df1['State'].value_counts()

print("State with Highest Orders:", state_orders.idxmax())

State with Highest Orders: NSW

In [95]:
# 13. What is the average discount % across all orders?

avg_discount = df1['Discount %'].mean()

print("Average Discount %:", avg_discount)

Average Discount %: 5.0338

In [96]:
# 14. What is the average total spend per order?

avg_spend = df1['Total'].mean()

print("Average Total Spend per Order:", avg_spend)

Average Total Spend per Order: nan

In [98]:
# 15. . Are certain containers (e.g., Small Box, Wrap Bag) more profitable?

container_profit = (
    df1.groupby('Product Container')['Profit Margin']
       .sum()
       .sort_values(ascending=False)
)

print("Most Profitable Container Type:", container_profit.idxmax())

Most Profitable Container Type: Jumbo Drum